*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Desktop first */

/* Common */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.align-items{
    align-items: center;
}

.jsf-cnt-center{
    justify-content: center;
}

.gap-1em{
    gap: 1em;
}

.txt-white{
    color: white;
}

.link-reset{
    text-decoration: none;
    color: white;
}

.list-decoration-none{
    list-style-type: none;
}

.pd-lt-05em{
    padding-left: .5em;
}

.pd-lt-1em{
    padding-left: 1em;
}

.pd-rt-1em{
    padding-right: 1em;
}

.font-sz{
    font-size: .8em;
}

.margin-1em{
    margin: 1em;
}

.txt-gray{
    color: gray;
}

.margin-bt{
    margin-bottom: 0.5em;
}


.font-sz-18em{
    font-size: 1.8em;
}

.font-sz-1em{
    font-size: 1.2em;
}

.font-sz-12em{
    font-size: 1.2em;
}

.border-r-100{
    border-radius: 100%;
}

/* Header */

.cont-head{
    position: relative;
}

.row-head{
    position: fixed;
    top: 0;
    left: 11em;
    height: 4em;
    width: calc(100% - 11em);
    background-color: rgba(0, 0, 0, 0.342);
    justify-content: flex-end;
    align-items: center;
}

.link-up{
    border: 1px solid white;
    padding: 0.5em 2em;
    border-radius: 2em;
    margin-right: 1em;
}


/* Sidebar */

.cont-aside{
    position: relative;
}

.row-aside {
    height: calc(100% - 5em);
    width: 11em;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
  }

.col-aside-up{
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
}

.margin-logo{
    margin:.5em;
}

.logo{
    width: 80%;
}

.logo-side{
    width: 15%;
}

.line-height{
    line-height: 2em;
}

.col-aside-down{
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
}

.plus-button{
    background-color: gray;
    padding: .8em;
}

.margin-rt{
    margin-right: .3em;
}

.margin-top-bt{
    margin: 1em 0em;
}

.profile-img{
    background-color: gray;
    color: white;
    padding: 1em;
    border-radius: 100%;
    background-image: url(../img/profile.svg);
}

.marginauto{
    margin: auto 0;
}

.button-reset{
    text-decoration: none;
    border: none;
    background-color: transparent;
}

/* Main */

.cont-li{
    flex-direction: row;
}


.cont-main{
    position: relative;
}

.row-main{
    position: absolute;
    left: 11em;
    top: 0em;
    bottom: 4em;
    height: calc(100vh - 5em);
    width: calc(100% - 11em);
    background-color: #141922;
    overflow: auto;
    padding-top: 4em;
}


.row-album{
    width: 100%;
}

.col-main{
    margin: .5em;
    width: calc(100% / 6 - 1em);
    text-align: center;
}


.img-album{
    width: 100%;
}



/* Footer */

.cont-footer{
    position: relative;
}

.row-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5em;
    width: 100%;
    background-color: rgb(78, 79, 80);
    justify-content: space-between;
}

.col-footer{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.11);
    height: 100%;
    width: 30%;
}

.img-song{
    height: 100%;
    width: 20%;
    background-image: url(../img/sinister.jpeg);
    background-size: cover;
}


.tag-song{
    justify-content: space-between;
    align-items: center;
}

.song-cont{
    width: 80%;
    justify-content: space-between;
}

.line-prog{
    width: 85%;
}


#progressbar{
    width: 100%;
}


/* responsive */

@media screen and (max-width: 768px) {

    #cont-main{
        width: 760px;
    }

    #cont-main .row-main, .row-main-two, .row-main-three{
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 576px) {

    #cont-main{
        max-width: 575px;
    }

    #cont-main .row-main, .row-main-two, .row-main-three{
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
/* 
@media screen and (max-width: 768px) {

    #cont-main{
        width: 760px;
    }

    #cont-main .row-main, .row-main-two, .row-main-three{
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {

    #cont-main{
        width: 760px;
    }

    #cont-main .row-main, .row-main-two, .row-main-three{
        align-items: flex-start;
        flex-wrap: wrap;
    }
} */