*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Desktop first */

/* Common */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.align-items{
    align-items: center;
}

.jsf-cnt-center{
    justify-content: center;
}

.gap-1em{
    gap: 1em;
}

.mrg-left{
    margin-left: 1em;
}

.txt-white{
    color: white;
}

.txt-black{
    color:black
}

.link-reset{
    text-decoration: none;
    color: white;
}

.list-decoration-none{
    list-style-type: none;
}

.pd-lt-05em{
    padding-left: .5em;
}

.pd-lt-1em{
    padding-left: 1em;
}

.pd-rt-1em{
    padding-right: 1em;
}

.pd-03em{
    padding: 0.3em;
}

.font-sz{
    font-size: .7em;
}

.font-sz-1em{
    font-size: 1em;
}

.margin-1em{
    margin: 1em;
}


.txt-gray{
    color: gray;
}

.margin-bt{
    margin-bottom: 0.5em;
}


.font-sz-18em{
    font-size: 1.5em;
}

.font-sz-1em{
    font-size: 1.2em;
}

.font-sz-12em{
    font-size: 1.2em;
}

.fnt-size-4em{
    font-size: 4em;
}

.border-r-100{
    border-radius: 100%;
}

.vertical-align{

    vertical-align: middle;
}

.overflow{

    overflow-y: auto;
}

/* Header */

.cont-head{
    position: relative;
}

.row-head{
    position: fixed;
    top: 0;
    left: 11em;
    height: 4em;
    width: calc(100% - 11em);
    background-color: rgba(0, 0, 0, 0.342);
    justify-content: flex-end;
    align-items: center;
}

.link-up{
    border: 1px solid white;
    padding: 0.5em 2em;
    border-radius: 2em;
    margin-right: 1em;
}

.link-up:hover{
    padding: 0.7em 2.2em;
}


/* Sidebar */

.cont-aside{
    position: relative;
}

.row-aside {
    height: calc(100% - 4em);
    width: 11em;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
  }

.col-aside-up{
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
}

.margin-logo{
    margin:.5em;
}

.logo{
    width: 80%;
}

.logo-side{
    width: 15%;
}

.line-height{
    line-height: 2em;
}

.col-aside-down{
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
}

.plus-button{
    background-color: gray;
    padding: .8em;
}

.margin-rt{
    margin-right: .3em;
}

.margin-top-bt{
    margin: .5em 0em;
}

.profile-img{
    background-color: gray;
    color: white;
    padding: .8em;
    border-radius: 100%;
    background-image: url(../img/profile.svg);
}

.marginauto{
    margin: auto 0;
}

.button-reset{
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.lt-green-border{
    border-left: 3px solid green;
}

.bt-green-border{
    border-bottom: 3px solid green;
    width: 40px;
    margin: 0 auto;
}

/* Main */


.cont-main{
    position: relative;
}

.row-main{
    position: absolute;
    left: 11em;
    top: 0em;
    bottom: 4em;
    height: calc(100vh - 4em);
    width: calc(100% - 11em);
    background-color: #141922;
    overflow: auto;
    padding-top: 4em;
    padding-left: .5em;
}

.row-album{
    flex-direction: row;
}

.col-main{
    margin: .3em; 
    width: calc(100% / 6 - .6em);
    text-align: center;    
}

.img-album{
    width: 100%;
}

.relative{
    position: relative;
}

.img-play{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none;
}

#responsive-md li{
    font-weight: bold;
}

.img-album:hover{
    filter: opacity(60%);
}

.img-album:hover + .img-play{
    display:block;
}

a:hover{
    color: white;
}

/* Footer */

.cont-footer{
    position: relative;
}

.row-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4em;
    width: 100%;
    background-color: rgb(46, 46, 46);
    justify-content: space-between;
}


.col-footer{
    height: 100%;
}

.col-20{
    width: 20%;
}

.col-30{
    width: 30%;
}

.img-song{
    height: 50px;
    width: 50px;
}


.tag-song{
    justify-content: space-between;
    align-items: center;
}

.song-cont{
    justify-content: space-between;
}

.line-prog{
    width: 100%;
}

#progressbar{
    width: 100%;
}

.line {
    width: 100%;
    background : rgb(82, 82, 82);
    position: relative;
    height: 5px;
    border-radius: 20px;
}
.line:before {
    content:'';
    background:rgb(220, 220, 220);
    width: 20%;
    height: 5px;
    position: absolute;
    border-radius: 20px;
}


.line:hover:before{
    background: rgb(10, 205, 10);
    width: 100%;
    transition: width 1.5s;
    cursor: pointer;
}



.hover-size:hover{
    font-size: 1.2em;
    cursor: pointer;
}

.hover-white:hover{
    color: white;
    cursor: pointer;
}

/* Responsive md*/
@media screen and (max-width: 768px) {


    #responsive-md .row-album{
        flex-wrap: wrap;
    }


    #responsive-md .col-main{
        margin: .3em;
        width: calc(100% / 4 - .9em);
    }

    
    #responsive-md ul{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #responsive-md li{
        width: calc(100% / 5 - 1em);
    }

}

